[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/rooms",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/rooms",
                "first": "/api/rooms?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/rooms?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "rooms",
                    "attributes": {
                        "level": null,
                        "room-type": null,
                        "created-at": "2020-04-30T23:16:55.170679+00:00",
                        "preheat-precool": true,
                        "active": true,
                        "humidity-away-min": 10,
                        "temp-away-min-c": 16,
                        "temp-away-max-c": 22.5,
                        "name": "Upstairs Bathroom",
                        "humidity-away-max": 80,
                        "air-return": false,
                        "set-point-c": 24,
                        "current-humidity": null,
                        "set-point-manual": true,
                        "pucks-inactive": "NotSetup",
                        "state-updated-at": "2021-03-07T23:59:25.094535+00:00",
                        "room-away-mode": "Smart Away",
                        "hold-until": "2107-12-10T23:59:25.076875+00:00",
                        "hold-until-schedule-event": false,
                        "hold-reason": "Set by Daniel",
                        "current-temperature-c": null,
                        "occupancy-mode": "Flair Auto",
                        "windows": null,
                        "updated-at": "2021-03-08T00:09:22.795149+00:00",
                        "frozen-pipe-pet-protect": true
                    },
                    "relationships": {
                        "puck-apps": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/puck-apps",
                                "related": "/api/rooms/20389/puck-apps"
                            }
                        },
                        "occupancy-conclusions": {
                            "links": {
                                "related": "/api/rooms/20389/occupancy-conclusions"
                            }
                        },
                        "zones": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/zones",
                                "related": "/api/rooms/20389/zones"
                            },
                            "data": [
                                {
                                    "type": "zones",
                                    "id": "56142"
                                }
                            ]
                        },
                        "hvac-units": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/hvac-units",
                                "related": "/api/rooms/20389/hvac-units"
                            },
                            "data": []
                        },
                        "structure": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/structure",
                                "related": "/api/rooms/20389/structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "room-auto-conclusions": {
                            "links": {
                                "related": "/api/rooms/20389/room-auto-conclusions"
                            }
                        },
                        "pucks": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/pucks",
                                "related": "/api/rooms/20389/pucks"
                            },
                            "data": []
                        },
                        "room-states": {
                            "links": {
                                "related": "/api/rooms/20389/room-states"
                            }
                        },
                        "bridges": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/bridges",
                                "related": "/api/rooms/20389/bridges"
                            },
                            "data": []
                        },
                        "thermostat": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/thermostat",
                                "related": "/api/rooms/20389/thermostat"
                            },
                            "data": {
                                "type": "thermostats",
                                "id": null
                            }
                        },
                        "current-conclusions": {
                            "links": {
                                "related": "/api/rooms/20389/current-conclusions"
                            }
                        },
                        "vents": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/vents",
                                "related": "/api/rooms/20389/vents"
                            },
                            "data": [
                                {
                                    "type": "vents",
                                    "id": "a9059032-84a4-5b42-3c1e-128b49fa702d"
                                }
                            ]
                        },
                        "remote-sensors": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/remote-sensors",
                                "related": "/api/rooms/20389/remote-sensors"
                            },
                            "data": []
                        },
                        "occupants": {
                            "links": {
                                "self": "/api/rooms/20389/relationships/occupants",
                                "related": "/api/rooms/20389/occupants"
                            }
                        }
                    },
                    "id": "20389"
                },
                {
                    "type": "rooms",
                    "attributes": {
                        "level": null,
                        "room-type": nul[...]
    {
        "scope": "https://api.flair.co:443",
        "method": "PATCH",
        "path": "/api/rooms/20389",
        "body": {
            "data": {
                "type": "rooms",
                "attributes": {
                    "set-point-c": 24
                },
                "relationships": {}
            }
        },
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/rooms/20389"
            },
            "data": {
                [...]
