[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/users",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/users",
                "first": "/api/users?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/users?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "users",
                    "attributes": {
                        "email": "test_email",
                        "default-temperature-preference-c": 22.5,
                        "role": null,
                        "global-email": false,
                        "no-proactive": null,
                        "name": "Daniel",
                        "contractor-validated": null,
                        "sales-channel": null,
                        "review-prompted": null,
                        "email-structure-alert-types": [
                            "FirmwareAvailable",
                            "PuckBatteryAlert",
                            "SystemOffline",
                            "TemperatureOutOfBounds",
                            "ThermostatDisconnected",
                            "VentBatteryAlert"
                        ],
                        "betas": null,
                        "partner": null,
                        "created-at": "2020-04-19T19:06:03.617011+00:00",
                        "temperature-scale": "F",
                        "alert-emails": true,
                        "notification-settings-prompted": null,
                        "global-push": false,
                        "firmware-emails": true,
                        "beta-bridge-user": null,
                        "push-structure-alert-types": [
                            "FirmwareAvailable",
                            "PuckBatteryAlert",
                            "SystemOffline",
                            "TemperatureOutOfBounds",
                            "ThermostatDisconnected",
                            "VentBatteryAlert"
                        ],
                        "review-stars": 3,
                        "updated-at": "2020-07-22T01:27:47.652853+00:00"
                    },
                    "relationships": {
                        "received-invitations": {
                            "links": {
                                "self": "/api/users/12345/relationships/received-invitations",
                                "related": "/api/users/12345/received-invitations"
                            }
                        },
                        "default-structure": {
                            "links": {
                                "self": "/api/users/12345/relationships/default-structure",
                                "related": "/api/users/12345/default-structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "editable-structures": {
                            "links": {
                                "self": "/api/users/12345/relationships/editable-structures",
                                "related": "/api/users/12345/editable-structures"
                            }
                        },
                        "devices": {
                            "links": {
                                "related": "/api/users/12345/devices"
                            }
                        },
                        "adminable-structures": {
                            "links": {
                                "self": "/api/users/12345/relationships/adminable-structures",
                                "related": "/api/users/12345/adminable-structures"
                            }
                        },
                        "unfinished-setup-structure": {
                            "links": {
                                "related": "/api/users/12345/unfinished-setup-structure"
                            },
                            "data": null
                        },
                        "ui-notifications": {
                            "links": {
                                "self": "/api/users/12345/relationships/ui-notifications",
                                "related": "/api/users/12345/ui-notifications"
                            },
                            "data": [
                                {
                                    "type": "notifications",
                                    "id": "034af67f-1c9c-41fe-8df6-a83372d80651"
                                },
        [...]
