[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/pucks",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/pucks",
                "first": "/api/pucks?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/pucks?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "pucks",
                    "attributes": {
                        "oauth-app-assigned-at": null,
                        "reporting-interval-ds": 255,
                        "current-rssi": -68,
                        "current-temperature-c": 21.92,
                        "current-humidity": 34,
                        "setpoint-bound-high": 32.23,
                        "updated-at": "2021-03-08T00:14:07.401676+00:00",
                        "ignore-readings-for-room": false,
                        "is-gateway": true,
                        "features": null,
                        "ir-setup-enabled": null,
                        "puck-display-color": "white",
                        "demo-mode": 0,
                        "created-at": "2019-12-12T18:47:21.167298+00:00",
                        "sub-ghz-radio-tx-power-mw": null,
                        "ir-download": false,
                        "humidity-offset": null,
                        "display-number": "0112",
                        "temperature-offset-override-c": null,
                        "temperature-offset-c": null,
                        "name": "Guest Room-0112",
                        "orientation": "standing",
                        "bluetooth-tx-power-mw": 500,
                        "last-reported-as-gateway": true,
                        "voltage": 3.41,
                        "inactive": false,
                        "beacon-interval-ms": 4095,
                        "locked": false,
                        "setpoint-bound-low": 10
                    },
                    "relationships": {
                        "closest-vents": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/closest-vents"
                            }
                        },
                        "puck-states": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/puck-states"
                            }
                        },
                        "hardware-version": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/hardware-version"
                            },
                            "data": {
                                "type": "hardware-versions",
                                "id": "a4f4714e-b089-44b4-80a1-4462612f321e"
                            }
                        },
                        "structure": {
                            "links": {
                                "self": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/relationships/structure",
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "current-reading": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-reading"
                            }
                        },
                        "current-state": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-state"
                            }
                        },
                        "sensor-readings": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/sensor-readings"
                            }
                        },
                        "room": {
                            "links": {
                                "self": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/relationships/room",
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/room"
                            },
                            "data": {
                                "type": "rooms",
                                "id": "20380"
                            }
                        },
                        "beacon-sightings": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/beacon-sightings"
                            }
                        }
                    },
                    "id": "0112bbb1-4563-5d9f-7e62-caee4a0512cb"
                },
                {
                    "type": "pucks",
                    "attributes": {
                        "oauth-app-assigned-at": null,
                        "reporting-inte[...]
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-reading",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-reading"
            },
            "data": {
                "type": "sensor-readings",
                "attributes": {
                    "room-temperature-c": 21.92,
                    "temperature": 2692,
                    "system-voltage": 3.41,
                    "room-pressure": 100.94625,
                    "firmware-version-s": 135,
                    "rssi": -68,
                    "rotary-encoded-clicks": 0,
                    "humidity": 34,
                    "light": 289,
                    "current-offset": -500,
                    "firmware-version-w": 126,
                    "button-pushes": 0,
                    "desired-temperature-c": 18.34,
                    "created-at": "2021-03-08T00:14:07.401662+00:00",
                    "firmware-version-b": 1,
                    "is-gateway": true,
                    "message-version": 0,
                    "die-temperature": 3800
                },
                "id": "1b5afdc7-5b4e-496e-b337-8c2c024d2bb8",
                "relationships": {
                    "puck": {
                        "links": {
                            "related": "/api/sensor-readings/1b5afdc7-5b4e-496e-b337-8c2c024d2bb8/puck"
                        },
                        "data": {
                            "type": "pucks",
                            "id": "0112bbb1-4563-5d9f-7e62-caee4a0512cb"
                        }
                    }
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]