[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/pucks",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/pucks",
                "first": "/api/pucks?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/pucks?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "pucks",
                    "attributes": {
                        "setpoint-bound-high": 32.23,
                        "ir-setup-enabled": null,
                        "temperature-offset-override-c": null,
                        "is-gateway": true,
                        "created-at": "2019-12-12T18:47:21.167298+00:00",
                        "ir-download": false,
                        "setpoint-bound-low": 10,
                        "last-reported-as-gateway": true,
                        "voltage": 3.41,
                        "current-rssi": -69,
                        "locked": false,
                        "oauth-app-assigned-at": null,
                        "orientation": "standing",
                        "temperature-offset-c": null,
                        "demo-mode": 0,
                        "bluetooth-tx-power-mw": 500,
                        "name": "Guest Room-0112",
                        "display-number": "0112",
                        "features": null,
                        "reporting-interval-ds": 255,
                        "humidity-offset": null,
                        "sub-ghz-radio-tx-power-mw": null,
                        "inactive": false,
                        "current-humidity": 34,
                        "current-temperature-c": 21.76,
                        "puck-display-color": "white",
                        "updated-at": "2021-03-08T00:08:45.498434+00:00",
                        "ignore-readings-for-room": false,
                        "beacon-interval-ms": 4095
                    },
                    "relationships": {
                        "sensor-readings": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/sensor-readings"
                            }
                        },
                        "puck-states": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/puck-states"
                            }
                        },
                        "room": {
                            "links": {
                                "self": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/relationships/room",
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/room"
                            },
                            "data": {
                                "type": "rooms",
                                "id": "20380"
                            }
                        },
                        "beacon-sightings": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/beacon-sightings"
                            }
                        },
                        "structure": {
                            "links": {
                                "self": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/relationships/structure",
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "current-reading": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-reading"
                            }
                        },
                        "closest-vents": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/closest-vents"
                            }
                        },
                        "hardware-version": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/hardware-version"
                            },
                            "data": {
                                "type": "hardware-versions",
                                "id": "a4f4714e-b089-44b4-80a1-4462612f321e"
                            }
                        },
                        "current-state": {
                            "links": {
                                "related": "/api/pucks/0112bbb1-4563-5d9f-7e62-caee4a0512cb/current-state"
                            }
                        }
                    },
                    "id": "0112bbb1-4563-5d9f-7e62-caee4a0512cb"
                },
                {
                    "type": "pucks",
                    "attributes": {
                        "setpoint-bound-high": 32.23,
                        "ir-setup-enabled":[...]
