[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/vents",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/vents",
                "first": "/api/vents?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/vents?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "vents",
                    "relationships": {
                        "room": {
                            "links": {
                                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/relationships/room",
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/room"
                            },
                            "data": {
                                "type": "rooms",
                                "id": "20389"
                            }
                        },
                        "current-state": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-state"
                            }
                        },
                        "vent-states": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/vent-states"
                            }
                        },
                        "closest-puck": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/closest-pucks"
                            }
                        },
                        "structure": {
                            "links": {
                                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/relationships/structure",
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "current-reading": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-reading"
                            }
                        },
                        "sensor-readings": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/sensor-readings"
                            }
                        }
                    },
                    "attributes": {
                        "has-buzzed": false,
                        "updated-at": "2021-03-08T00:12:28.307239+00:00",
                        "percent-open": 0,
                        "current-rssi": -72,
                        "created-at": "2020-04-30T22:42:24.548241+00:00",
                        "inactive": false,
                        "setup-lightstrip": 10,
                        "percent-open-reason": "Manual by User",
                        "name": "Upstairs Bathroom-a905",
                        "voltage": 3.1
                    },
                    "id": "a9059032-84a4-5b42-3c1e-128b49fa702d"
                },
                {
                    "type": "vents",
                    "relationships": {
                        "room": {
                            "links": {
                                "self": "/api/vents/b085d6ec-d252-584b-b4cb-3c5383f0d95d/relationships/room",
                                "related": "/api/vents/b085d6ec-d252-584b-b4cb-3c5383f0d95d/room"
             [...]
    {
        "scope": "https://api.flair.co:443",
        "method": "PATCH",
        "path": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d",
        "body": {
            "data": {
                "type": "vents",
                "attributes": {
                    "percent-open": 0
                },
                "relationships": {}
            }
        },
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b4[...]
