[
    {
        "scope": "https://api.flair.co:443",
        "method": "POST",
        "path": "/oauth/token?client_id=test_client_id&client_secret=test_client_secret&grant_type=password&password=test_password&scope=structures.edit%20structures.view%20pucks.view%20pucks.edit%20vents.view%20vents.edit%20users.view&username=test_username",
        "body": "",
        "status": 200,
        "response": {
            "access_token": "test_access_token",
            "expires_in": 3600,
            "token_type": "Bearer",
            "scope": "structures.edit structures.view pucks.view pucks.edit vents.view vents.edit users.view",
            "refresh_token": "test_refresh_token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/vents",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/vents",
                "first": "/api/vents?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "last": "/api/vents?include=&page%5Bsize%5D=50&page%5Bpage%5D=1",
                "next": null,
                "prev": null
            },
            "data": [
                {
                    "type": "vents",
                    "relationships": {
                        "current-state": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-state"
                            }
                        },
                        "vent-states": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/vent-states"
                            }
                        },
                        "current-reading": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-reading"
                            }
                        },
                        "room": {
                            "links": {
                                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/relationships/room",
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/room"
                            },
                            "data": {
                                "type": "rooms",
                                "id": "20389"
                            }
                        },
                        "structure": {
                            "links": {
                                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/relationships/structure",
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/structure"
                            },
                            "data": {
                                "type": "structures",
                                "id": "14573"
                            }
                        },
                        "closest-puck": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/closest-pucks"
                            }
                        },
                        "sensor-readings": {
                            "links": {
                                "related": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/sensor-readings"
                            }
                        }
                    },
                    "attributes": {
                        "setup-lightstrip": 10,
                        "percent-open": 0,
                        "has-buzzed": false,
                        "inactive": false,
                        "created-at": "2020-04-30T22:42:24.548241+00:00",
                        "updated-at": "2021-03-08T00:12:28.307239+00:00",
                        "name": "Upstairs Bathroom-a905",
                        "voltage": 3.1,
                        "percent-open-reason": "Manual by User",
                        "current-rssi": -72
                    },
                    "id": "a9059032-84a4-5b42-3c1e-128b49fa702d"
                },
                {
                    "type": "vents",
                    "relationships": {
                        "current-state": {
                            "links": {
                                "related": "/api/vents/b085d6ec-d252-584b-b4cb-3c5383f0d95d/current-state"
                            }
                        },
                        "vent-states": {
       [...]
    {
        "scope": "https://api.flair.co:443",
        "method": "GET",
        "path": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-reading",
        "body": "",
        "status": 200,
        "response": {
            "meta": {
                "self": "/api/vents/a9059032-84a4-5b42-3c1e-128b49fa702d/current-reading"
            },
            "data": {
                "type": "vent-sensor-readings",
                "attributes": {
                    "motor-current": null,
                    "duct-temperature-c": 23.51,
                    "system-voltage": 3.1,
                    "motor-run-time": 1641,
                    "lights": null,
                    "rssi": -72,
                    "firmware-version-s": 136,
                    "duct-pressure": 100.9885,
                    "percent-open": 0,
                    "created-at": "2021-03-08T00:12:28.307228+00:00"
                },
                "id": "807d0027-f517-45ab-9f76-6c354186be27",
                "relationships": {
                    "vent": {
                        "links": {
                            "related": "/api/vent-sensor-readings/807d0027-f517-45ab-9f76-6c354186be27/vent"
                        },
                        "data": {
                            "type": "vents",
                            "id": "a9059032-84a4-5b42-3c1e-128b49fa702d"
                        }
                    }
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]